* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f8fd;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
.section-nav {
    display: grid;
    grid-template-columns: 10% 45% 25%;
    /* width: 100%; */
    background-color: #fff;
    border-radius: 12px;
    /* height: 100px; */
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
    margin-top: 1rem;
    padding: 1rem 2rem;
    justify-content: space-between;
}
.left-nav {
    height: 100%;
}
.nav-logo {
    min-width: 50px;
}
.center-nav {
    height: 100%;
    /* width: 50%; */
}
.center__nav_ul {
    height: 100%;
    list-style: none;
    justify-content: space-between;
}

.center-nav ul li a {
    text-decoration: none;
}
.right-nav {
    /* width: 20%; */
    justify-content: end;
    /* gap: 1rem */
}
.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.user-status {
    gap: 1rem;
}
.group-icons {
    gap: 2rem;
    margin-right: 2rem;
}
.user-connecton {
    width: 55px;
    background-color: #edfdfa;
    text-align: center;
    border-radius: 5px;
    padding: 0 0.4rem;
    color: #1f927f;
}
.active {
    background-image: linear-gradient(71deg, #3ac2ff 50%, #2f56ff);
    color: #fff;
    padding: 12px;
    border-radius: 22px;
    font-weight: bold;
}
.label{
    cursor: pointer;
}
#toggle_nav:checked +label + ul{
    transform: translate(0);
}
#toggle_nav:checked + label span:first-child{
    transform: rotate(127deg);
    position: relative;
    top: -4px;
}
#toggle_nav:checked + label span.line_mid{
    transform: translateX(-10px);
    opacity: 0;
}
#toggle_nav:checked + label span:last-child{
    transform: rotate(58deg);
    position: relative;
    top: -15px;
}

@media screen and (max-width: 999px) {
    .nav-logo {
        min-width: 36px;
    }
    .left-nav {
        font-size: 0.9rem;
    }
    .center__nav_ul li a {
        font-size: 0.8rem;
    }
    .active {
        padding: 6px;
    }
    .group-icons a svg {
        width: 13px;
    }
    .user-connecton {
        width: 57px;
        padding: 0.2rem;
        font-size: 0.8rem;
    }
    .user-profile img{
        width: 40px;
        height: 40px;
    }
    .section-nav{
        grid-template-columns: 3% 42% 24%;
    }
}
@media screen and (min-width: 768px){
    .nav-mobile{
        display: none;
    }
    
}
@media screen and (max-width: 768px){
    .center-nav{
        display: none;
    }
    .nav-logo{
        min-width: 27px;
    }
    .left-nav{
        font-size: 0.5rem;
    }
    .group-icons{
        gap: 1.4rem;
        margin-right: 1rem;
    }
    .user-connecton{
        width: 46px;
        font-size: 0.5rem;
    }
    .list_nav_mobile{
        width: 200px;
        position: fixed;
        background-color: #fff;
        top: 0;
        left: 0;
        height: 100%;
        transform: translate(-350px);
        transition: all 250ms ease-in-out;
        padding: 2rem 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        gap: 2.5rem;
        overflow: hidden;
        }
    .line{
        border: 1px solid;
        width: 14px;
        display: block;
        margin-bottom: 3px;
        transition: all 260ms ease-in-out;
    }
    .label{
        position: relative;
        /* top: 16px; */
    }
    .section-nav{
        grid-template-columns: 3% 89% 3%;
        padding: 1rem;
    }
}
/* @media and (max-width: 000px){
    
} */